body {
    margin: 0px;
}

#maze-wrapper {
    font-size: 0pt;
    margin: 0px;
    padding: 0px;
}
.maze {
	background-color: rgb(248, 145, 13);
    position: absolute;
}
.maze  .block {
    position: absolute;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.maze  .block > .item {
    display: inline-block;
    color: #fff;
    transition: 0.5s;
}
.maze  .block > .item:hover {
    text-shadow: 0px 0px 10px #fff;
    cursor: default;
}
