body {
    margin: 0px;
}

.maze {
	background-color: rgb(248, 145, 13);
    position: absolute;
}
.maze  .block {
    position: absolute;
    border: 1px solid #fff;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.maze  .block > span {
    font-size: 1.7em;
    color: #fff;
}